
.slideshow-section{
    padding: 50px 0;
}
.slide-margin{
    width: 1200px;
    margin-inline: auto;
}
.slideshow-section h2{
    text-align: center;
    color: #5c6061;
    font-size: 48px;
    line-height: 1.3;
    font-weight: bold;
    letter-spacing: -0.3px;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}
.slide-wrapper{
    padding: 20px 20px 0;
    background-color: #cecccc;
    margin-bottom: 30px;
    border-radius: 10px;
}
.scroll-container img{
    width: 500px;
    height: 300px;
    padding:10px;
    border-radius: 20px;
}

.scroll-container {
    background-color: #cecccc;
    overflow: auto;
    white-space: nowrap;
    padding:10px 0;
  }
.text-cont{
    margin-top: 50px;
    height: 50px;
}
.text-cont h6{
    display: block;
    text-align: center;
    line-height: 100px;
    color: #424141;
    font-size: 20px;
}
.midline{
    height: 5px;
    background-color: #cecccc;
    width: 100%;
    margin: 112.5px 0;
    border: rgb(34, 33, 33) 1px double;
    border-radius: 3px;
}


@media (max-width: 1200px){
    .slide-margin{
        width: 960px;
    }
}
@media (max-width: 960px){
    .slide-margin{
        width: 720px;
    }
}
@media (max-width: 960px){
    .slide-margin{
        width: 720px;
    }
}
@media (max-width: 720px){
    .slide-margin{
        width: 500px;
    }
    .scroll-container img {
        width: 400px;
        height: 250px;
    }
    .slideshow-section h2{
        font-size: 30px;
    }
}
@media (max-width: 560px){
    .slide-margin{
        width: min(500px, 95vw);
    }
    .scroll-container img {
        width: 300px;
        height: 200px;
    }
    .midline{
        margin: 70px 0;
    }
}